### Problem Statement
## Perform sentimental analysis: 
### 1) Extract reviews of any product from ecommerce website like amazon
### 2) Perform emotion mining

###  <a id='0.1'>Table of Contents</a>

1. __<a href='#1' target='_self'>Multi-page web-scraping</a>__
    1. <a href='#4A' target='_self'>Looping through multiple pages</a>
1. __<a href='#2' target='_self'>Import Libraries</a>__
1. __<a href='#3' target='_self'>Data Exploration</a>__
1. __<a href='#4' target='_self'>Feature Engineering</a>__
1. __<a href='#5' target='_self'>Data Visualization</a>__
1. __<a href='#6' target='_self'>Basic Text Preprocessing</a>__
    1. <a href='#6A' target='_self'>For Sentiment Anlaysis</a> 
1. __<a href='#7' target='_self'>Text Pre-processing Techniques</a>__
    1. __<a href='#7A' target='_self'>Pre-processing 'Key Words'</a>__
        1. <a href='#7Aa' target='_self'>Removing '@names'</a>
        1. <a href='#7Ab' target='_self'>Removing links (http | https)</a>
        1. <a href='#7Ac' target='_self'>Removing Reviews with empty text</a>
        1. <a href='#7Ad' target='_self'>Dropping duplicate rows</a>
        1. <a href='#7Ae' target='_self'>Resetting index</a>
        1. <a href='#7Af' target='_self'>Removing Punctuations, Numbers and Special characters</a>
        1. <a href='#7Ag' target='_self'>Function to remove emoji</a>
        1. <a href='#7Ah' target='_self'>Removing Stop words</a>
        1. <a href='#7Ai' target='_self'>Tokenize 'Clean_Reviews'</a>
        1. <a href='#7Aj' target='_self'>Converting words to Stemmer</a>
        1. <a href='#7Ak' target='_self'>Converting words to Lemma</a>
1. __<a href='#8' target='_self'>Basic Feature Extaction'</a>__
    1. <a href='#8Aa' target='_self'>A. Applying bag of Words without N grams'</a>
    1. <a href='#8Ba' target='_self'>CountVectorizer with N-grams (Bigrams & Trigrams)</a>
    1. <a href='#8Ca' target='_self'>TF-IDF Vectorizer</a>
    1. <a href='#8Da' target='_self'>Named Entity Recognition (NER)</a>
1. __<a href='#9' target='_self'>Feature Extaction</a>__
    1. <a href='#9Aa' target='_self'>Feature Extraction for 'Key Words'</a>
1. __<a href='#10' target='_self'>Fetch Sentiments</a>__
    1. <a href='#10Aa' target='_self'>Using NLTK's SentimentIntensityAnalyzer</a>
    1. <a href='#10Ab' target='_self'>Using TextBlob</a>
1. __<a href='#11' target='_self'>Story Generation and Visualization</a>__
    1. <a href='#11A' target='_self'>Most common words in positive Review</a>
    1. <a href='#11B' target='_self'>Most common words in negative Review</a>

## <a id='1'>1. Multi-page web-scraping</a>
In this, I‚Äôm going to show you how to build a multi-page web-scraper in Python.

We will be scraping Amazon product reviews data, but the focus will be on looping through multiple pages.

If you‚Äôre looking for a basic introduction to web-scraping in Python, check out the single page Python web-scraper for Amazon product reviews data.

Scraped Amazon product reviews data for some Oneplus Flagship Smartphone
Introduction to using Splash and Docker for web-scraping
Step-by-step implementation of popular web-scraping Python libraries: BeautifulSoup, requests, and Splash.

In [ ]:
import pandas as pd
import requests
from tqdm import tqdm_notebook
from bs4 import BeautifulSoup

In [ ]:
headers = {
    'authority': 'www.amazon.in',
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
    'accept-language': 'en-US,en;q=0.9',
    'cache-control': 'max-age=0',
    # Requests sorts cookies= alphabetically
    # 'cookie': 'session-id=259-3113978-6678618; i18n-prefs=INR; ubid-acbin=260-8554202-6973909; lc-acbin=en_IN; csm-hit=tb:BS866TA0AKH6X86N924E+sa-7XYTQAXQHJP5ADH88228-DY27HYE0CK5V9FW24GBD|1656009294944&t:1656009294945&adb:adblk_yes; session-token=Z1j175VoYxPr2Un/9ciL3Q6lKw+QtLYYIwSQ+GLxjT06952u8vOZromD4WcFE0bs+yrUyLPy8HmIn7mTjUt8qsx3n0meC7yWKFqqwDEm5iecYedklsrNwmDrQOiaMH9lpacbdB8kgUk5IbZdg1VyhrdnY4OZrk6r350ARDEXJExuu2GZr0sV4fpbwUes/V9fDrfASeMQhVEEzmEAAHWN2g==; session-id-time=2082758401l',
    'device-memory': '8',
    'downlink': '10',
    'dpr': '0.8',
    'ect': '4g',
    'referer': 'https://www.amazon.in/OnePlus-Nord-Black-128GB-Storage/dp/B09WQY65HN/ref=sr_1_4?crid=1D99WHM86WX80&keywords=oneplus&qid=1656009113&sprefix=onep%2Caps%2C315&sr=8-4&th=1',
    'rtt': '0',
    'sec-ch-device-memory': '8',
    'sec-ch-dpr': '0.8',
    'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="102", "Google Chrome";v="102"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-ch-viewport-width': '2400',
    'sec-fetch-dest': 'document',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-user': '?1',
    'service-worker-navigation-preload': 'true',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36',
    'viewport-width': '2400',
}

### <a id='1A'>A. Looping through multiple pages</a>
One of the easiest methods to scrape multiple pages is to modify the base URL to accept a page variable that increments as needed.

Try for yourself! See how the URL changes as you go through multiple pages.

For Amazon product reviews, the only thing that seems to change is the number indicating which page it is.

#### Okay, now let‚Äôs put this to work in a function:

In [ ]:
def get_soup(url):
    #r = requests.get('http://localhost:8050/render.html', 
    # Run this instead if you haven't setup Splash & Docker
    r = requests.get(url, headers=headers,
    params={'url': url, 'wait': 2})
    soup = BeautifulSoup(r.text, 'html.parser')
    return soup

In [ ]:
# Initialize list to store reviews data later on
reviewlist = []

# Function 2: look for web-tags in our soup, then append our data to reviewList
def get_reviews(soup):
    reviews = soup.find_all('div', {'data-hook': 'review'})
    try:
        for item in reviews:
            review = {
            'product': soup.title.text.replace('Amazon.in:Customer reviews: ', '').strip(),    
            'date': item.find('span', {'data-hook': 'review-date'}).text.replace('Reviewed in India on', '').strip(),
            'title': item.find('a', {'data-hook': 'review-title'}).text.strip(),
            'rating':  float(item.find('i', {'data-hook': 'review-star-rating'}).text.replace('out of 5 stars', '').strip()),
            'body': item.find('span', {'data-hook': 'review-body'}).text.strip(),
            }
            reviewlist.append(review)
    except:
        pass

In [ ]:
# Initialize list to store reviews data later on
reviewlist = []

# Function 2: look for web-tags in our soup, then append our data to reviewList
def get_reviews(soup):
    reviews = soup.find_all('div', {'data-hook': 'review'})
    try:
        for item in reviews:
            review = {
            'Rating':  float(item.find('i', {'data-hook': 'review-star-rating'}).text.replace('out of 5 stars', '').strip()),
            'Title': item.find('a', {'data-hook': 'review-title'}).text.strip(),
            'Review': item.find('span', {'data-hook': 'review-body'}).text.strip(),
            'Review_Date': item.find('span', {'data-hook': 'review-date'}).text.replace('Reviewed in India on', '').strip(),
            }
            reviewlist.append(review)
    except:
        pass

#### We can even add in a a stop condition. For this one, we can tell Python to look for a greyed out ‚ÄúNext Page‚Äù button. To identify this element, use the element inspector.

Add this to the bottom of the function above.

In [ ]:
# loop through 1:x many pages, or until the css selector found only on the last page is found (when the next page button is greyed)
for x in tqdm_notebook(range(1,1000)):
    soup = get_soup(f'https://www.amazon.in/OnePlus-Nord-Mirror-128GB-Storage/product-reviews/B09RG132Q5/\
    ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber={x}')
    #print(f'Getting page: {x}')
    get_reviews(soup)
    #print(len(reviewlist))
    if not soup.find('li', {'class': 'a-disabled a-last'}):
        pass
    else:
        break

<ipython-input-6-2e47bb25bda7>:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for x in tqdm_notebook(range(1,1000)):

  0%|          | 0/999 [00:00<?, ?it/s]

In [ ]:
# Save results to a dataframe, then export as CSV
df = pd.DataFrame(reviewlist)
df

,Rating,Title,Review,Review_Date
0,4.0,Good phone-could have been better !,I've purchased the 6GB version of this phone w...,Reviewed in India üáÆüá≥ on 19 December 2022
1,4.0,This is a branded budget phone üì±,This is definitely a budget branded phone üì± af...,Reviewed in India üáÆüá≥ on 5 January 2023
2,4.0,Okay for the budget phone.,Operating system and multitasking is good for ...,Reviewed in India üáÆüá≥ on 3 March 2023
3,4.0,A mildly perfect phone,I will try to keep this review short. This rev...,Reviewed in India üáÆüá≥ on 12 January 2023
4,4.0,Budget friendly reliable phone,I bought the phone in Jan 2023 @ 18250. Below ...,Reviewed in India üáÆüá≥ on 5 February 2023
...,...,...,...,...
4995,3.0,Not up to the mark,I am using this phone from 3days.Sound quality...,30 May 2022
4996,5.0,Awesome.,Good phone.,22 September 2022
4997,4.0,Ok,Ok,15 May 2022
4998,5.0,Product is very good performance .,Product is very good performance and Amazon se...,30 June 2022
4999,3.0,At a time 2-3 Cab apps using hanging the phone,"Battery life not good, camara good, fingerprin...",14 July 2022

In [ ]:
df.to_csv("/content/Amazon_Reviews_Oneplus_Nord_CE2.csv")

0.1. __<a href='#0.1' target='_self'>Table of Contents:</a>__

## <a id='2'>2. Import Libraries</a>

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import re
import time
import string
import warnings
import spacy
from tqdm.notebook import tqdm_notebook

# for all NLP related operations on text
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import *
from nltk.classify import NaiveBayesClassifier
from nltk.stem.porter import PorterStemmer
from wordcloud import WordCloud, STOPWORDS
from plotly import graph_objs as go
import plotly.express as px
import plotly.figure_factory as ff
from collections import Counter

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, confusion_matrix, accuracy_score, classification_report
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

# To identify the sentiment of text
from textblob import TextBlob
from textblob.sentiments import NaiveBayesAnalyzer
from textblob.np_extractors import ConllExtractor

from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.pipeline import make_pipeline
from nltk.tokenize import RegexpTokenizer

# ignoring all the warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

# downloading stopwords corpus
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('vader_lexicon')
nltk.download('averaged_perceptron_tagger')
nltk.download('movie_reviews')
nltk.download('punkt')
nltk.download('conll2000')
nltk.download('brown')
stopwords = set(stopwords.words("english"))

# for showing all the plots inline
%matplotlib inline

/usr/local/lib/python3.8/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package movie_reviews to /root/nltk_data...
[nltk_data]   Unzipping corpora/movie_reviews.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package conll2000 to /root/nltk_data...
[nltk_data]   Unzipping corpora/conll2000.zip.
[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Unzipping corpora/brown.zip.

In [ ]:
# load the dataset
reviews=pd.read_csv('/content/Amazon_Reviews_Oneplus_Nord_CE2.csv')
reviews.drop(['Unnamed: 0'],inplace=True,axis=1)
reviews

,Rating,Title,Review,Review_Date
0,4.0,Good phone-could have been better !,I've purchased the 6GB version of this phone w...,Reviewed in India üáÆüá≥ on 19 December 2022
1,4.0,This is a branded budget phone üì±,This is definitely a budget branded phone üì± af...,Reviewed in India üáÆüá≥ on 5 January 2023
2,4.0,Okay for the budget phone.,Operating system and multitasking is good for ...,Reviewed in India üáÆüá≥ on 3 March 2023
3,4.0,A mildly perfect phone,I will try to keep this review short. This rev...,Reviewed in India üáÆüá≥ on 12 January 2023
4,4.0,Budget friendly reliable phone,I bought the phone in Jan 2023 @ 18250. Below ...,Reviewed in India üáÆüá≥ on 5 February 2023
...,...,...,...,...
4995,3.0,Not up to the mark,I am using this phone from 3days.Sound quality...,30 May 2022
4996,5.0,Awesome.,Good phone.,22 September 2022
4997,4.0,Ok,Ok,15 May 2022
4998,5.0,Product is very good performance .,Product is very good performance and Amazon se...,30 June 2022
4999,3.0,At a time 2-3 Cab apps using hanging the phone,"Battery life not good, camara good, fingerprin...",14 July 2022

0.1. __<a href='#0.1' target='_self'>Table of Contents:</a>__

## <a id='3'>3. Data Exploration</a>

In [ ]:
reviews.Rating.describe()

count    5000.000000
mean        4.196400
std         0.818023
min         1.000000
25%         4.000000
50%         4.000000
75%         5.000000
max         5.000000
Name: Rating, dtype: float64

#### Number of Words

In [ ]:
reviews['word_count'] = reviews['Review'].apply(lambda x: len(str(x).split(" ")))
reviews[['Review','word_count']].head()

                                              Review  word_count
0  I've purchased the 6GB version of this phone w...         299
1  This is definitely a budget branded phone üì± af...         152
2  Operating system and multitasking is good for ...          77
3  I will try to keep this review short. This rev...         216
4  I bought the phone in Jan 2023 @ 18250. Below ...         192

#### Number of characters

In [ ]:
reviews['char_count'] = reviews['Review'].str.len() ## this also includes spaces
reviews[['Review','char_count']].head()

                                              Review  char_count
0  I've purchased the 6GB version of this phone w...      1715.0
1  This is definitely a budget branded phone üì± af...       807.0
2  Operating system and multitasking is good for ...       395.0
3  I will try to keep this review short. This rev...      1189.0
4  I bought the phone in Jan 2023 @ 18250. Below ...      1127.0

#### Average Word Length

In [ ]:
def avg_word(sentence):
  words = str(sentence).split()
  return (sum(len(word) for word in words)/len(words))

reviews['avg_word'] = reviews['Review'].apply(lambda x: avg_word(x))
reviews[['Review','avg_word']].head()

                                              Review  avg_word
0  I've purchased the 6GB version of this phone w...  4.755034
1  This is definitely a budget branded phone üì± af...  4.344371
2  Operating system and multitasking is good for ...  4.142857
3  I will try to keep this review short. This rev...  4.509259
4  I bought the phone in Jan 2023 @ 18250. Below ...  4.875000

#### Number of stopwords

In [ ]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

reviews['stopwords'] = reviews['Review'].apply(lambda x: len([x for x in str(x).split() if x in stop]))
reviews[['Review','stopwords']].head()

                                              Review  stopwords
0  I've purchased the 6GB version of this phone w...        128
1  This is definitely a budget branded phone üì± af...         53
2  Operating system and multitasking is good for ...         30
3  I will try to keep this review short. This rev...         94
4  I bought the phone in Jan 2023 @ 18250. Below ...         56

#### Number of special characters

In [ ]:
reviews['hashtags'] = reviews['Review'].apply(lambda x: len([x for x in str(x).split() if x.startswith('#')]))
reviews[['Review','hashtags']].head()

                                              Review  hashtags
0  I've purchased the 6GB version of this phone w...         0
1  This is definitely a budget branded phone üì± af...         0
2  Operating system and multitasking is good for ...         0
3  I will try to keep this review short. This rev...         0
4  I bought the phone in Jan 2023 @ 18250. Below ...         0

#### Number of numerics

In [ ]:
reviews['numerics'] = reviews['Review'].apply(lambda x: len([x for x in str(x).split() if x.isdigit()]))
reviews[['Review','numerics']].head()

                                              Review  numerics
0  I've purchased the 6GB version of this phone w...         2
1  This is definitely a budget branded phone üì± af...         7
2  Operating system and multitasking is good for ...         3
3  I will try to keep this review short. This rev...         0
4  I bought the phone in Jan 2023 @ 18250. Below ...         3

#### Number of Uppercase words

In [ ]:
reviews['upper'] = reviews['Review'].apply(lambda x: len([x for x in str(x).split() if x.isupper()]))
reviews[['Review','upper']].head()

                                              Review  upper
0  I've purchased the 6GB version of this phone w...      4
1  This is definitely a budget branded phone üì± af...      3
2  Operating system and multitasking is good for ...      3
3  I will try to keep this review short. This rev...      3
4  I bought the phone in Jan 2023 @ 18250. Below ...      9

In [ ]:
reviews.drop(['numerics','hashtags','stopwords','avg_word','char_count','word_count','upper'],axis=1,inplace=True)

KeyError: ignored

####  Spelling correction
We‚Äôve all seen tweets with a plethora of spelling mistakes. Our timelines are often filled with hastly sent tweets that are barely legible at times.

In that regard, spelling correction is a useful pre-processing step because this also will help us in reducing multiple copies of words.

To achieve this we will use the textblob library. If you are not familiar with it, you can check my previous article on ‚ÄòNLP for beginners using textblob‚Äô

In [ ]:
from textblob import TextBlob
reviews['Review'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    I've purchased the 6GB version of this phone w...
1    His is definitely a budget branded phone üì± aft...
2    Operating system and multitasking is good for ...
3    I will try to keep this review short. His revi...
4    I bought the phone in An 2023 @ 18250. Below a...
Name: Review, dtype: object

#### As you can see spelling mistake did a mistake of correcting the word Hang into Sang in Context to this review the word 'Hang' fits here and not 'Sang'

0.1. __<a href='#0.1' target='_self'>Table of Contents:</a>__

## <a id='4'>4. Feature Engineering</a>

In [ ]:
print(reviews['Review_Date'].str.split(' ').str[0],'\n',
      reviews['Review_Date'].str.split(' ').str[1],'\n',
      reviews['Review_Date'].str.split(' ').str[2])

0       Reviewed
1       Reviewed
2       Reviewed
3       Reviewed
4       Reviewed
          ...
4995          30
4996          22
4997          15
4998          30
4999          14
Name: Review_Date, Length: 5000, dtype: object
 0              in
1              in
2              in
3              in
4              in
          ...
4995          May
4996    September
4997          May
4998         June
4999         July
Name: Review_Date, Length: 5000, dtype: object
 0       India
1       India
2       India
3       India
4       India
        ...
4995     2022
4996     2022
4997     2022
4998     2022
4999     2022
Name: Review_Date, Length: 5000, dtype: object

### Spliting Review Date into Three seperate Columns (Year,Month,Day)

In [ ]:
df=reviews.copy()
df['Date']=df['Review_Date'].str.split(' ').str[0]
df['Month']=df['Review_Date'].str.split(' ').str[1]
df['Year']=df['Review_Date'].str.split(' ').str[2]
df[['Date','Month','Year']]

          Date      Month   Year
0     Reviewed         in  India
1     Reviewed         in  India
2     Reviewed         in  India
3     Reviewed         in  India
4     Reviewed         in  India
...        ...        ...    ...
4995        30        May   2022
4996        22  September   2022
4997        15        May   2022
4998        30       June   2022
4999        14       July   2022

[5000 rows x 3 columns]

In [ ]:
df.Month.value_counts()

in           2370
October       442
November      333
September     300
August        243
January       229
December      219
July          198
February      188
June          175
May           149
March          88
April          66
Name: Month, dtype: int64

### Change 'month' from words to numbers for easier analysis

In [ ]:
order={'Month':{'February':2,'March':3,'April':4,'May':5,'June':6}}
df1= df.copy()
df1=df1.replace(order)
df1[['Month']]

          Month
0            in
1            in
2            in
3            in
4            in
...         ...
4995          5
4996  September
4997          5
4998          6
4999       July

[5000 rows x 1 columns]

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rating       5000 non-null   float64
 1   Title        4999 non-null   object
 2   Review       4768 non-null   object
 3   Review_Date  5000 non-null   object
 4   Date         5000 non-null   object
 5   Month        5000 non-null   object
 6   Year         5000 non-null   object
dtypes: float64(1), object(6)
memory usage: 273.6+ KB

In [ ]:
df1['Date'] = pd.to_numeric(df1['Date'], errors='coerce').astype('Int64')
df1['Year'] = pd.to_numeric(df1['Year'], errors='coerce').astype('Int64')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rating  5000 non-null   float64
 1   Title   4999 non-null   object
 2   Review  4768 non-null   object
 3   Date    2630 non-null   Int64
 4   Month   5000 non-null   object
 5   Year    2630 non-null   Int64
dtypes: Int64(2), float64(1), object(3)
memory usage: 244.3+ KB

In [ ]:
#
df1[['Date','Year']]=df1[['Date','Year']].astype('int64')
df1.info()

In [ ]:
df.head(3)

,Rating,Title,Review,Review_Date,Date,Month,Year
0,4.0,Good phone-could have been better !,I've purchased the 6GB version of this phone w...,Reviewed in India üáÆüá≥ on 19 December 2022,Reviewed,in,India
1,4.0,This is a branded budget phone üì±,This is definitely a budget branded phone üì± af...,Reviewed in India üáÆüá≥ on 5 January 2023,Reviewed,in,India
2,4.0,Okay for the budget phone.,Operating system and multitasking is good for ...,Reviewed in India üáÆüá≥ on 3 March 2023,Reviewed,in,India

### Dropping the Original Columns after splitting the data

In [ ]:
df.drop('Review_Date',axis=1, inplace=True)
df.head()

,Rating,Title,Review,Date,Month,Year
0,4.0,Good phone-could have been better !,I've purchased the 6GB version of this phone w...,Reviewed,in,India
1,4.0,This is a branded budget phone üì±,This is definitely a budget branded phone üì± af...,Reviewed,in,India
2,4.0,Okay for the budget phone.,Operating system and multitasking is good for ...,Reviewed,in,India
3,4.0,A mildly perfect phone,I will try to keep this review short. This rev...,Reviewed,in,India
4,4.0,Budget friendly reliable phone,I bought the phone in Jan 2023 @ 18250. Below ...,Reviewed,in,India

In [ ]:
df

,Rating,Title,Review,Date,Month,Year
0,4.0,Good phone-could have been better !,I've purchased the 6GB version of this phone w...,Reviewed,in,India
1,4.0,This is a branded budget phone üì±,This is definitely a budget branded phone üì± af...,Reviewed,in,India
2,4.0,Okay for the budget phone.,Operating system and multitasking is good for ...,Reviewed,in,India
3,4.0,A mildly perfect phone,I will try to keep this review short. This rev...,Reviewed,in,India
4,4.0,Budget friendly reliable phone,I bought the phone in Jan 2023 @ 18250. Below ...,Reviewed,in,India
...,...,...,...,...,...,...
4995,3.0,Not up to the mark,I am using this phone from 3days.Sound quality...,30,May,2022
4996,5.0,Awesome.,Good phone.,22,September,2022
4997,4.0,Ok,Ok,15,May,2022
4998,5.0,Product is very good performance .,Product is very good performance and Amazon se...,30,June,2022
4999,3.0,At a time 2-3 Cab apps using hanging the phone,"Battery life not good, camara good, fingerprin...",14,July,2022

0.1. __<a href='#0.1' target='_self'>Table of Contents:</a>__

## <a id='5'>5. Data Visualization</a>

#### date versus review count

In [ ]:
#Creating a dataframe
dayreview = pd.DataFrame(df.groupby('Date')['Review'].count()).reset_index()
df['Date'] = pd.to_datetime(df['Date'], format='%d %B %Y')



df['Year'] = df['Date'].dt.year
dayreview.sort_values(by = ['Date'])

#Plotting the graph`
plt.figure(figsize=(16,8))
sns.barplot(x = "Date", y = "Review", data = dayreview)
plt.title('Date vs Reviews count')
plt.xlabel('Date')
plt.ylabel('Reviews count')
plt.show()

In [ ]:
#
import re

dayreview['FormattedDate'] = dayreview['Date'].apply(lambda x: re.findall(r'\d+\s\w+\s\d{4}', x)[0])
dayreview['FormattedDate'] = pd.to_datetime(dayreview['FormattedDate'], format='%d %B %Y')

In [ ]:
df.head(12)

,Rating,Title,Review,Date,Month,Year
0,4.0,Good phone-could have been better !,I've purchased the 6GB version of this phone w...,Reviewed,in,India
1,4.0,This is a branded budget phone üì±,This is definitely a budget branded phone üì± af...,Reviewed,in,India
2,4.0,Okay for the budget phone.,Operating system and multitasking is good for ...,Reviewed,in,India
3,4.0,A mildly perfect phone,I will try to keep this review short. This rev...,Reviewed,in,India
4,4.0,Budget friendly reliable phone,I bought the phone in Jan 2023 @ 18250. Below ...,Reviewed,in,India
5,4.0,Good phone if you buy under 18K,"Performance up to the marküëç, If you do more ga...",Reviewed,in,India
6,4.0,Setting phone icon as default,"If I set phone as default, I am unable to atte...",Reviewed,in,India
7,4.0,Good,The media could not be loaded.\n ...,Reviewed,in,India
8,4.0,Never Settle,Absolutely the best smartphone with value for ...,Reviewed,in,India
9,4.0,The Smartphone is overall too good,I like all the features as it is a budget phon...,Reviewed,in,India
10,4.0,Decent phone at this price,"Decent phone at this price, so far liking it i...",2,March,2023
11,4.0,"Very nice mobile, camera is awesome üëç","Camera quality is awesome, fingerprint very fa...",2,March,2023

In [ ]:
df.head()

,Rating,Title,Review,Date,Month,Year
20,4.0,HYBRID SLOT,IS PHONE MIA 2 SIM OR 1 SD CARD KA OPTION HONA...,Reviewed,in,India
21,4.0,good product,good product.,Reviewed,in,India
22,4.0,Hang,Hang hota hai,Reviewed,in,India
23,4.0,Very good product in this range,Perfect product for who are looking premium phone,Reviewed,in,India
24,4.0,About delivery person,Delivery person taking 250 rs on cash amountAn...,Reviewed,in,India

In [ ]:
#Creating a dataframe
dayreview = pd.DataFrame(df.groupby('Date')['Review'].count()).reset_index()
dayreview['Date'] = dayreview['Date'].astype('int64')
dayreview.sort_values(by = ['Date'])

#Plotting the graph`
plt.figure(figsize=(16,8))
sns.barplot(x = "Date", y = "Review", data = dayreview)
plt.title('Date vs Reviews count')
plt.xlabel('Date')
plt.ylabel('Reviews count')
plt.show()

ValueError: ignored

In [ ]:
plt.figure(figsize=(12,8))
plt.title('Percentage of Ratings')
ax = sns.countplot(y = 'Rating', data = reviews)
total = len(reviews)
for p in ax.patches:
        percentage = '{:.1f}%'.format(100 * p.get_width()/total)
        x = p.get_x() + p.get_width() + 0.02
        y = p.get_y() + p.get_height()/2
        ax.annotate(percentage, (x, y))

In [ ]:
plt.figure(figsize = (12,8))
plt.pie(df['Rating'].value_counts().sort_index(),
       labels=df['Rating'].value_counts().sort_index().index,
       explode = [0.00,0.0,0.0,0.0,0.05],
       autopct= '%.2f%%',
        colors = ["#ff4545", "#ffa534",'#ffe234','#b7dd29','#57e32c'],
       shadow= True,
       startangle= 190,
       textprops = {'size':'small',
                   'fontweight':'bold',
                    'rotation':'0',
                   'color':'black'})
plt.legend(loc= 'upper right')
plt.title("Most Ratings Distribution Pie Chart", fontsize = 18, fontweight = 'bold')
plt.show()

In [ ]:
plt.figure(figsize = (12,8))
plt.pie(df['Month'].value_counts(),
       labels=df['Month'].value_counts().index,
       explode = [0.1,0.0,0.0,0.0,0.0],
       autopct= '%.2f%%',
       shadow= True,
       startangle= 190,
       textprops = {'size':'large',
                   'fontweight':'bold',
                    'rotation':'0',
                   'color':'black'})
plt.legend(loc= 'upper right')
plt.title("Most Purchase Month Distribution", fontsize = 18, fontweight = 'bold')
plt.show()

0.1. __<a href='#0.1' target='_self'>Table of Contents:</a>__

##  <a id='6'>6. BasicText Preprocessing</a>
### <a id='6A'>A. For Sentiment Analysis</a> 
##### keeping the DataFrame intact and each tweets separate from each other

In [ ]:
data = df[['Review']]
data

In [ ]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
data['Review'] = data['Review'].apply(lambda x: " ".join(x.lower() for x in str(x).split() \
                                    if x not in stop_words))

In [ ]:
data

In [ ]:
lemmatizer = WordNetLemmatizer()
# Removing punctuation, making str to lower, applying Lemmatizer, Removing Stop words
corpus=[]
for i in tqdm_notebook(range(0, len(data))):
    cleaned= re.sub('[^a-zA-Z]', " ", data["Review"][i])
    cleaned= cleaned.lower()
    cleaned = cleaned.split()
    cleaned= [lemmatizer.lemmatize(word) for word in cleaned if word not in stopwords.words("english")]
    cleaned= ' '.join(cleaned)
    corpus.append(cleaned)

In [ ]:
#Saving cleaned data to compare with original data, to ckeck amount of information lost
dataframe = pd.DataFrame({"Clean_Reviews": corpus,"Uncleaned_Reviews": df.Review})
dataframe.head()

0.1. __<a href='#0.1' target='_self'>Table of Contents:</a>__

## <a id='7'>7. Text Pre-processing Techniques</a> 
### <a id='7A'>A. Pre-processing 'Key Words'</a>
#### <a id='7Aa'>a. Removing '@names'</a>

In [ ]:
def remove_pattern(text, pattern_regex):
    r = re.findall(pattern_regex, text)
    for i in r:
        text = re.sub(i, '', text)
    
    return text

In [ ]:
# We are keeping cleaned tweets in a new column called 'tidy_tweets'
dataframe['Clean_Reviews'] = np.vectorize(remove_pattern)(dataframe['Clean_Reviews'], "@[\w]*")
dataframe.head(10)

#### <a id='7Ab'>b. Removing links (http | https)</a>

In [ ]:
cleaned_reviews = []

for index, row in dataframe.iterrows():
    # Here we are filtering out all the words that contains link
    words_without_links = [word for word in row.Clean_Reviews.split() if 'http' not in word]
    cleaned_reviews.append(' '.join(words_without_links))

dataframe['Clean_Reviews'] = cleaned_reviews
dataframe.head(10)

#### <a id='7Ac'>c. Removing Review with empty text</a>

In [ ]:
dataframe = dataframe[dataframe['Clean_Reviews']!='']
dataframe.head(10)

#### <a id='7Ad'>d. Dropping duplicate rows</a>

In [ ]:
dataframe.drop_duplicates(subset=['Clean_Reviews'], keep=False)
dataframe.head(10)

#### <a id='7Ae'>e. Resetting index</a>
It seems that our index needs to be reset, since after removal of some rows, some index values are missing, which may cause problem in future operations.

In [ ]:
dataframe = dataframe.reset_index(drop=True)
dataframe.head(10)

#### <a id='7Af'>f. Removing Punctuations, Numbers and Special characters</a>
This step should not be followed if we also want to do sentiment analysis on __key phrases__ as well, because semantic meaning in a sentence needs to be present. So here we will create one additional column 'absolute_tidy_tweets' which will contain absolute tidy words which can be further used for sentiment analysis on __key words__.

In [ ]:
def clean_text(text):
    '''Make text lowercase, remove text in square brackets,remove links,remove punctuation
    and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [ ]:
dataframe['Clean_Reviews'] = dataframe['Clean_Reviews'].apply(lambda x: clean_text(x))
dataframe.head(10)

#### <a id='7Ag'>g. Function to remove emoji</a>

In [ ]:
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [ ]:
dataframe['Clean_Reviews']=dataframe['Clean_Reviews'].apply(lambda x: remove_emoji(x))
dataframe.head(10)

In [ ]:
dataframe['tokenized_tweets'] = dataframe['Clean_Reviews'].apply(lambda x: nltk.word_tokenize(x))
dataframe.head(10)

In [ ]:
dataframe.drop(['tokenized_tweets'],axis=1,inplace=True)

#### <a id='7Ah'>h. Removing Stop words</a>
With the same reason we mentioned above, we won't perform this on 'Clean-Review' column, because it needs to be used for __key_phrases__ sentiment analysis.

In [ ]:
import codecs
with codecs.open("C:/Users/Moin Dalvi/Documents/Data Science Material/\
Data Science Assignments/Text MIning/stop.txt", "r", encoding="ISO-8859-1") as s:
    stop = s.read()
    print(stop[:101])

In [ ]:
stop.split(" ")

In [ ]:
from nltk.corpus import stopwords
my_stop_words=stopwords.words('english')
sw_list = [stop]
my_stop_words.extend(sw_list)
stopwords_set = set(my_stop_words)
cleaned_tweets = []

for index, row in dataframe.iterrows():
    
    # filerting out all the stopwords 
    words_without_stopwords = [word for word in row.Clean_Reviews.split() if not word in stopwords_set and '#' not in word.lower()]
    
    # finally creating tweets list of tuples containing stopwords(list) and sentimentType 
    cleaned_tweets.append(' '.join(words_without_stopwords))
    
dataframe['Clean_Reviews'] = cleaned_tweets
dataframe.head(10)

#### <a id='7Ai'>i. Tokenize *'Clean_Reviews'*</a>

In [ ]:
TextBlob(dataframe['Clean_Reviews'][1]).words

In [ ]:
tokenized_review = dataframe['Clean_Reviews'].apply(lambda x: x.split())
tokenized_review.head(10)

#### <a id='7Ai'>j. Converting words to Stemmer</a>

In [ ]:
from nltk.stem.snowball import SnowballStemmer

# Use English stemmer.
stemmer = SnowballStemmer("english")

In [ ]:
xx = pd.DataFrame()
xx['stemmed'] = dataframe['Clean_Reviews'].apply(lambda x: " ".join([stemmer.stem(word) for word in x.split()]))
xx

#### <a id='7Ak'>k. Converting words to Lemma</a>

In [ ]:
word_lemmatizer = WordNetLemmatizer()
nltk.download('omw-1.4')
yy=pd.DataFrame()
yy['stemmed'] = dataframe['Clean_Reviews'].apply(lambda x: " ".join([word_lemmatizer.lemmatize(i) for i in x.split()]))
yy

0.1. __<a href='#0.1' target='_self'>Table of Contents:</a>__

## <a id='8'>8. Basic Feature Extaction</a>
### <a id='8Aa'>A. **Applying bag of Words without N grams**</a>

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
tweetscv=cv.fit_transform(dataframe.Clean_Reviews)

In [ ]:
#print(cv.vocabulary_)

In [ ]:
print(cv.get_feature_names()[109:200])

In [ ]:
print(cv.get_feature_names()[:100])

In [ ]:
print(tweetscv.toarray()[100:200])

### <a id='8Ba'>B. **CountVectorizer with N-grams (Bigrams & Trigrams)**</a>

In [ ]:
from nltk.corpus import stopwords
ps = PorterStemmer()
corpus = []
for i in tqdm_notebook(range(0, len(dataframe))):
    review = re.sub('[^a-zA-Z]', ' ', dataframe['Clean_Reviews'][i])
    review = review.lower()
    review = review.split()
    
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

In [ ]:
corpus[3]

In [ ]:
## Applying Countvectorizer
# Creating the Bag of Words model
cv = CountVectorizer(max_features=5000,ngram_range=(1,3))
X = cv.fit_transform(corpus).toarray()

In [ ]:
X.shape

In [ ]:
cv.get_feature_names()[:20]

In [ ]:
cv.get_params()

In [ ]:
count_df = pd.DataFrame(X, columns=cv.get_feature_names())
count_df

### <a id='8Ca'>C. **TF-IDF Vectorizer**</a>

In [ ]:
from nltk.corpus import stopwords
ps = PorterStemmer()
corpus = []
for i in tqdm_notebook(range(0, len(dataframe))):
    review = re.sub('[^a-zA-Z]', ' ', dataframe['Clean_Reviews'][i])
    review = review.lower()
    review = review.split()
    
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

In [ ]:
corpus[4]

In [ ]:
## TFidf Vectorizer
tfidf_v=TfidfVectorizer(max_features=5000,ngram_range=(1,3))
X=tfidf_v.fit_transform(corpus).toarray()

In [ ]:
X.shape

In [ ]:
tfidf_v.get_feature_names()[:20]

In [ ]:
tfidf_v.get_params()

In [ ]:
count_df = pd.DataFrame(X, columns=tfidf_v.get_feature_names())
count_df

### <a id='8Da'>D. Named Entity Recognition (NER)</a>

In [ ]:
reviews=[review.strip() for review in dataframe.Clean_Reviews] # remove both the leading and the trailing characters
reviews=[comment for comment in reviews if comment] # removes empty strings, because they are considered in Python as False
# Joining the list into one string/text
reviews_text=' '.join(reviews)
reviews_text[0:1000]

In [ ]:
# Parts Of Speech (POS) Tagging
nlp=spacy.load('en_core_web_sm')

one_block=reviews_text[:1000]
doc_block=nlp(one_block)
spacy.displacy.render(doc_block,style='ent',jupyter=True)

In [ ]:
for token in doc_block[:50]:
    print(token,token.pos_)

In [ ]:
# Filtering the nouns and verbs only
one_block=reviews_text
doc_block=nlp(one_block)
nouns_verbs=[token.text for token in doc_block if token.pos_ in ('NOUN','VERB')]
print(nouns_verbs[100:200])

In [ ]:
# Counting the noun & verb tokens
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

X=cv.fit_transform(nouns_verbs)
sum_words=X.sum(axis=0)

words_freq=[(word,sum_words[0,idx]) for word,idx in cv.vocabulary_.items()]
words_freq=sorted(words_freq, key=lambda x: x[1], reverse=True)

wd_df=pd.DataFrame(words_freq)
wd_df.columns=['word','count']
wd_df[0:10] # viewing top ten results

In [ ]:
# Visualizing results (Barchart for top 10 nouns + verbs)
wd_df[0:10].plot.bar(x='word',figsize=(12,8),title='Top 10 nouns and verbs')

0.1. __<a href='#0.1' target='_self'>Table of Contents:</a>__

## <a id='9'>9. Feature Extraction</a>

We need to convert textual representation in the form on numeric features. We have two popular techniques to perform feature extraction:

1. __Bag of words (Simple vectorization)__
2. __TF-IDF (Term Frequency - Inverse Document Frequency)__

We will use extracted features from both one by one to perform sentiment analysis and will compare the result at last.

### <a id='9Aa'>A. Feature Extraction for 'Key Words'</a>

In [ ]:
# BOW features
bow_word_vectorizer = CountVectorizer(max_df=0.90, min_df=2, stop_words='english')
# bag-of-words feature matrix
bow_word_feature = bow_word_vectorizer.fit_transform(dataframe['Clean_Reviews'])

# TF-IDF features
tfidf_word_vectorizer = TfidfVectorizer(max_df=0.90, min_df=2, stop_words='english')
# TF-IDF feature matrix
tfidf_word_feature = tfidf_word_vectorizer.fit_transform(dataframe['Clean_Reviews'])

0.1. __<a href='#0.1' target='_self'>Table of Contents:</a>__

## <a id='10'>10. Fetch sentiments</a>
To proceed further, we need to know the sentiment type of every tweet, that can be done using two ways: <br/>
    __a. Using NLTK's SentimentIntensityAnalyzer (We'll refer as SIA)<br/>__
    __b. Using TextBlob<br/>__

In [ ]:
# 1 way
def fetch_sentiment_using_SIA(text):
    sid = SentimentIntensityAnalyzer()
    polarity_scores = sid.polarity_scores(text)
    return 'neg' if polarity_scores['neg'] > polarity_scores['pos'] else 'pos'

# 2 way
def fetch_sentiment_using_textblob(text):
    analysis = TextBlob(text)
    return 'pos' if analysis.sentiment.polarity >= 0 else 'neg'

### <a id='10Aa'>a. Using NLTK's SentimentIntensityAnalyzer</a>

In [ ]:
sentiments_using_SIA = dataframe.Clean_Reviews.apply(lambda tweet: fetch_sentiment_using_SIA(tweet))
pd.DataFrame(sentiments_using_SIA.value_counts())

In [ ]:
dataframe.Clean_Reviews[8]

In [ ]:
sid = SentimentIntensityAnalyzer()
sid.polarity_scores(dataframe.Clean_Reviews[8])

In [ ]:
sid.polarity_scores(x.Clean_Reviews[8])

In [ ]:
df=pd.DataFrame()
df['Review'] = dataframe.Clean_Reviews
df['scores'] = dataframe['Clean_Reviews'].apply(lambda review: sid.polarity_scores(review))
df.head()

In [ ]:
df['compound']  = df['scores'].apply(lambda scores: scores['compound'])
df.head()

In [ ]:
df['sentiment'] = df['compound'].apply(lambda c: 'Positive' if c >=0.05 else ('Negative' if c<=-0.05  else 'Neutral'))
df

In [ ]:
from collections import defaultdict
from plotly import tools
from plotly.offline import iplot
#Filtering data
positive_review = df[df["sentiment"]=='Positive'].dropna()
neutral_review = df[df["sentiment"]=='Neutral'].dropna()
negative_review = df[df["sentiment"]=='Negative'].dropna()

## custom function for ngram generation ##
def generate_ngrams(text, n_gram = 1):
    token = [token for token in text.lower().split(" ") if token != "" if token not in STOPWORDS]
    ngrams = zip(*[token[i:] for i in range(n_gram)])
    return [" ".join(ngram) for ngram in ngrams]

# custom function for horizontal bar chart ##
def horizontal_bar_chart(df, color):
    trace = go.Bar(
        y =df["word"].values[::-1],
        x = df["wordcount"].values[::-1],
        showlegend = False,
        orientation = 'h',
        marker = dict(
            color = color,
        ),
    )
    return trace

## Get the bar chart from positive reviews ##
freq_dict = defaultdict(int)
for sent in positive_review["Review"]:
    for word in generate_ngrams(sent):
        freq_dict[word] += 1
fd_sorted = pd.DataFrame(sorted(freq_dict.items(), key=lambda x: x[1])[::-1])
fd_sorted.columns = ["word", "wordcount"]
trace0 = horizontal_bar_chart(fd_sorted.head(20), 'blue')


## Get the bar chart from neutral reviews ##
freq_dict = defaultdict(int)
for sent in neutral_review["Review"]:
    for word in generate_ngrams(sent):
        freq_dict[word] += 1
fd_sorted = pd.DataFrame(sorted(freq_dict.items(), key=lambda x: x[1])[::-1])
fd_sorted.columns = ["word", "wordcount"]
trace1 = horizontal_bar_chart(fd_sorted.head(20), 'purple')

## Get the bar chart from negative reviews ##
freq_dict = defaultdict(int)
for sent in negative_review["Review"]:
    for word in generate_ngrams(sent):
        freq_dict[word] += 1
fd_sorted = pd.DataFrame(sorted(freq_dict.items(), key=lambda x: x[1])[::-1])
fd_sorted.columns = ["word", "wordcount"]
trace2 = horizontal_bar_chart(fd_sorted.head(20), 'yellow')

# Creating two subplots
fig = tools.make_subplots(rows=3, cols=1, vertical_spacing = 0.04,
                          subplot_titles=["Frequent words of positive reviews", "Frequent words of neutral reviews",
                                          "Frequent words of negative reviews"])
fig.append_trace(trace0, 1, 1)
fig.append_trace(trace1, 2, 1)
fig.append_trace(trace2, 3, 1)
fig['layout'].update(height=1200, width=900, paper_bgcolor='rgb(233,233,233)', title="Word Count Plots")
iplot(fig, filename='word-plots')

![newplot%20%281%29.png](attachment:newplot%20%281%29.png)

In [ ]:
temp = df.groupby('sentiment').count()['Tweets'].reset_index().sort_values(by='Tweets',ascending=False)
temp.style.background_gradient(cmap='rainbow')

In [ ]:
plt.figure(figsize=(12,6))
sns.countplot(x='sentiment',data=df)

In [ ]:
# Plotting the sentiment value for whole review
import seaborn as sns
plt.figure(figsize=(15,10))
sns.distplot(df['compound'])

In [ ]:
df['word_count'] = df['Tweets'].apply(lambda x: len(str(x).split(" ")))
df[['Tweets','word_count']].head()

In [ ]:
# Correlation analysis
df.plot.scatter(x='word_count',y='compound',figsize=(8,8),title='Sentence sentiment value to sentence word count')

### <a id='10Ab'>b. Using TextBlob</a>

In [ ]:
sentiments_using_textblob = dataframe.Clean_Reviews.apply(lambda tweet: fetch_sentiment_using_textblob(tweet))
pd.DataFrame(sentiments_using_textblob.value_counts())

In [ ]:
 # let's calculate subjectivity and Polarity
# function for subjectivity
def calc_subj(text):
    return TextBlob(text).sentiment.subjectivity
 
# function for Polarity
def calc_pola(text):
    return TextBlob(text).sentiment.polarity
 
dataframe['Subjectivity'] = dataframe.Clean_Reviews.apply(calc_subj)
dataframe['Polarity'] = dataframe.Clean_Reviews.apply(calc_pola)
dataframe.head()

In [ ]:
f, axes = plt.subplots(figsize = (15,8))
plt.scatter(dataframe.Polarity, dataframe.Subjectivity)
plt.title('Sentiment Analysis')
plt.xlabel('Polarity')
plt.ylabel('Subjectivity')

In [ ]:
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import warnings
warnings.filterwarnings("ignore")


type_ = ["Positive", "Neutral", "Negative"]
fig = make_subplots(rows=1, cols=1)

fig.add_trace(go.Pie(labels=type_, values=df['sentiment'].value_counts(), name="sentiment"))

# Use `hole` to create a donut-like pie chart
fig.update_traces(hole=.4, hoverinfo="label+percent+name", textfont_size=16)

fig.update_layout(
    title_text="Sentiment Analysis",
    # Add annotations in the center of the donut pies.
    annotations=[dict(text='Sentiment', x=0.5, y=0.5, font_size=20, showarrow=False)])
fig.show()

![newplot.png](attachment:newplot.png)

##### *NLTK* gives us more negative sentiments than TexBlob, so we will prefer NLTK, since classfication seems better.

In [ ]:
dataframe['sentiment'] = sentiments_using_SIA
dataframe.to_csv("C:/Users/Moin Dalvi/Documents/Data Science Material/Data Science Assignments/Text MIning/clean_review.csv",index=False)
dataframe.head()

0.1. __<a href='#0.1' target='_self'>Table of Contents:</a>__

## <a id='11'>11. Story Generation and Visualization</a>

In [ ]:
allWords_ = ' '.join([review for review in dataframe[:500]['Clean_Reviews']])
f, axes = plt.subplots(figsize=(20,12))
wordcloud= WordCloud(
        background_color = 'black',
        width = 1800,
        height =1400).generate(allWords_)
plt.imshow(wordcloud)

### <a id='11A'>A. Most common words in positive Review</a>
Answer can be best found using WordCloud

In [ ]:
def generate_wordcloud(all_words):
    wordcloud = WordCloud(width=800, height=500, random_state=21, max_font_size=100, relative_scaling=0.5, colormap='Dark2').generate(all_words)

    plt.figure(figsize=(14, 10))
    plt.imshow(wordcloud, interpolation="bilinear")
    plt.axis('off')
    plt.show()

In [ ]:
all_words = ' '.join([text for text in dataframe['Clean_Reviews'][dataframe.sentiment == 'pos']])
generate_wordcloud(all_words)

### <a id='11B'>B. Most common words in negative Review</a>

In [ ]:
all_words = ' '.join([text for text in dataframe['Clean_Reviews'][dataframe.sentiment == 'neg']])
generate_wordcloud(all_words)

<div style="display:fill;
            border-radius: false;
            border-style: solid;
            border-color:#000000;
            border-style: false;
            border-width: 2px;
            color:#CF673A;
            font-size:15px;
            font-family: Georgia;
            background-color:#E8DCCC;
            text-align:center;
            letter-spacing:0.1px;
            padding: 0.1em;">

**<h2>‚ô° Thank you for taking the time ‚ô°**